.field  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 15% auto;
}

.field .input__field {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    margin:auto;
}

.field .input__field input{
    border: 0.125rem solid var(--primary-color);
    background-color: var(--second-color);
    margin-bottom: 24px;
    margin-top: 0.3125rem;
    border-radius: 0.625rem;
    height: 2.5rem;
    width: 31.25rem;
}

.field .title__field h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.field .title__field h2 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

#input__bttn{
    width: 12.5rem;
    height: 1.875rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    background: #CEAB93;
    color: var(--second-color);
    transition: all 0.2s;
}

#input__bttn:hover{
    background-color: var(--primary-color);
    transform: scale(1.1);
}

.field .title__field {
    text-align: center;
}

.comment__field ul li {
    margin-top: 1rem;
}

